@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');



@font-face {
  font-family: 'Prime';
  src: local('Prime'),
       url('./assets/fonts/prime/Prime-Regular.woff') format('woff'),
       url('./assets/fonts/prime/Prime-Regular.woff2') format('woff2'),
       url('./assets/fonts/prime/Prime-Light.woff') format('woff'),
       url('./assets/fonts/prime/Prime-Light.woff2') format('woff2');
}

/* 
@font-face {
  font-family: 'TriakisFont';
  src: local('TriakisFont'),
       url('./assets/fonts/triakis/TriakisFont-Regular.otf') format('opentype');
} */



:root {
  /* backgroundColor: */
  --custom-background-color: #fcfcfc;

  /* fontColor: */
  --custom-font-color: #141414;

  --test-color: #fcfcfc;
}

body {
  margin: 0;
  background-color: var(--custom-background-color);
  min-height: 100vh;
  width: 100vw;
  color: var(--custom-font-color);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--custom-scrollbar-color);
  border-radius: 4px;
}



















































